#
# Основной файл конфигурации
#

# URL of the tested host
testUrl=https://r5am.ru

# Флаг для работы с CI сервером, отключающий все отладочные фичи (замедление, подсветка).
# Выставить в "true" перед мержреквестом в ветку (develop), используемую для CI.
ciServerFlag=false

# Use a remote browser, such as "Selenium Grid" or "Solenoid"
remoteBrowser=false
remoteSeleniumHub=localhost
remoteSeleniumHubPort=4444

# Browser used for testing - chrome, firefox ...
browser=chrome

# Size of the browser window. Default value - 1920x1080 Full HD
browserSize=1920x1080

# Timeout to tests fail, seconds
failTestTimeout=10

# Eyes view timeout
eyesViewTimeout=0

# Actions slowdown (ms).
# If uiActionSlowdownSwitch=false, then it's not working.
uiActionSlowdownTime=200
uiActionSlowdownSwitch=false

# Interval (ms), color and flashes count for highlighting.
# If uiFlashSwitch=false, then it's not working.
uiFlashSwitch=true
uiActionInterval=100
uiFlashColor=#FF0000
uiFlashCount=2
